<?xml version="1.0" encoding="UTF-8"?>
<module title="[GUEST_COMPANY]" name="guest_company" multi="0" library="0" dashboard="0" icon="hotel" ranking="0" home="0" main="0" validation="0" dates="0" release="0" index="4.2">
	<!-- resizing
	[0] 1 single image
	[1] 1x big, 1x medium, 1x small -->
	<medias max="0" resizing="1">
		<big maxw="1920" maxh="1440"/>
		<medium maxw="600" maxh="600"/>
		<small maxw="400" maxh="400"/>
	</medias>
	<list order="id">
		<col label="[PHONE1]" name="phone1" type="none"/>
		<col label="[PHONE2]" name="phone2" type="none"/>
		<col label="[PHONE3]" name="phone3" type="none"/>
		<col label="[EMAIL]" name="email" type="none"/>
		<col label="[JOBTITLE]" name="jobtitle" type="none"/>		
	</list>
	<form>
		<field multi="0" label="[COMPANY]" name="id_company" type="select" required="0" unique="0" validation="none">
			<options table="pm_company" fieldlabel="company" fieldvalue="id" order="company"></options>
		</field>
		<field multi="0" label="[GUEST]" name="id_guest" type="select" required="0" unique="0" validation="none">
			<options table="pm_guest" fieldlabel="guest" fieldvalue="id" order="guest"></options>
		</field>
		<field multi="0" label="[STATUS]" name="id_status" type="select" required="1" unique="0" validation="none">
			<options table="pm_status" fieldlabel="table_status" fieldvalue="id" order="table_status"></options>
		</field>		
		<field multi="0" label="[PHONE1]" name="phone1" type="text" required="1" unique="0" validation="none"/>
		<field multi="0" label="[PHONE2]" name="phone2" type="text" required="0" unique="0" validation="none">
		</field>
		<field multi="0" label="[PHONE3]" name="phone3" type="text" required="0" unique="0" validation="none"/>
		<field multi="0" label="[EMAIL]" name="email" type="select" required="0" unique="0" validation="none">
			<options table="pm_guest" fieldlabel="email1" fieldvalue="id" order="email1"></options>
		</field>
		<field multi="0" label="[JOBTITLE]" name="jobtitle" type="text" required="1" unique="0" validation="none"/>
	</form>
	
    <roles>
        <user type="administrator" permissions="all"/>
        <user type="manager" permissions="no_access"/>
        <user type="editor" permissions="no_access"/>
    </roles>
</module>
